
  *{
    margin:0;
  }

  img::selection{
    background:none;
  }


  button{
    padding:14px;
  }

  main{
    position: relative;
    float:left;
  }

  figure{
    position: relative;
    float:left;
/*    clear:none;*/
    margin:7px 0px 0px 7px;
  }

.description{
    position: fixed;
    right:0;
    width: 17%;
    background-color: white;
    overflow: scroll;
}

.description p{
    font-family: HelveticaNeue;
    padding: 10px;
    font-size: 14px;
}


  img{
    position: relative;
    float:left;
    width: 100%;
    cursor: pointer;
    margin-bottom:1px;
  }
  
  @media screen and (max-width:800px){
	  
      .description{
          width: 40%;
      }
      .description p{
		  font-size:10px;
	  }
  }